package templates

templ Hello(name string) {
	<script src="/home/jmrflora/Downloads" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
	<div>Hello, { name }</div>
	<button
		hx-get="/click"
		hx-target="#aqui"
	>click here
	</button>
	<div id="aqui">
	</div>
}